
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  background-color: @bg-color;
  font-family: @base-font-family;
  font-weight: @base-font-weight;
  font-size: @base-font-size;
  line-height: @base-line-height;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
