.additional-product__list {
  padding-top: 34px;
  padding-bottom: 41px;
  display: grid;
  grid-template-columns: 1fr;
}

.additional-product__name {
  width: 141px;
}

.additional-product__label {
  position: relative;
  padding-left: 45px;
}

.additional-product__control-mark::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.additional-product__control-input:checked ~ .additional-product__label .additional-product__control-mark::after {
  position: absolute;
  content: " ";
  background-image: url("../../img/select-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 14px;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.additional-product__control-input:focus-visible ~ .additional-product__label .additional-product__control-mark::before {
  border-color: #bababa;
}

.additional-product__control-input--disabled ~ .additional-product__label {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .additional-product__list {
    padding-top: 67px;
    padding-bottom: 65px;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 123px;
  }

  .additional-product__name {
    width: 211px;
    background: linear-gradient(to right, transparent 25%, #ffffff 25%);
  }

  .additional-product__label {
    padding-left: 59px;

    &:hover .additional-product__control-mark::before {
      border-color: #bababa;
    }
  }

  .additional-product__control-mark::before {
    width: 40px;
    height: 40px;
  }

  .additional-product__control-input:checked ~ .additional-product__label .additional-product__control-mark::after {
    width: 24px;
    height: 18px;
    left: 10px;
  }
}


@media (min-width: @desktop-width) {
  .additional-product__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 80px;
  }

  .additional-product__item {
    margin-bottom: 0;
  }

  .additional-product__control-mark::before {
    width: 40px;
    height: 40px;
  }
}
