.additional-catalog__header {
  width: auto;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  padding-left: 19px;
  padding-right: 0;
}

.additional-catalog__full-width {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.additional-catalog__line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent 10%, #68b738 10%);
  z-index: -1;
}

.additional-catalog__title {
  position: relative;
  display: block;
  background-color: #ffffff;
  width: 226px;
  padding-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.additional-catalog__product-name-link {
  text-decoration: none;
  color: #222222;
}

.additional-catalog__container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}

.additional-catalog__wrapper {
  width: auto;
}

.additional-catalog__list {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

.additional-catalog__item {
  padding-top: 13px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-catalog-information-wrapper {
  display: flex;
  flex-direction: column;
}

.additional-catalog__container-wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 280px;
}

.additional-catalog__product-name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
  margin-top: 0;
  margin-bottom: 11px;
}

.additional-catalog__ammount,
.additional-catalog__price {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.additional-catalog__button {
  margin-top: 9px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .additional-catalog__header {
    padding-top: 68px;
    padding-bottom: 80px;
    padding-left: 67px;
    padding-right: 67px;
  }

  .additional-catalog__line {
    background: linear-gradient(to right, #68b738 5%, transparent 5%, transparent 20%, #68b738 20%);
  }

  .additional-catalog__title {
    font-size: 36px;
    line-height: 36px;
    width: fit-content;
    padding-right: 36px;
  }

  .additional-catalog__container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 76px;
  }

  .additional-catalog__container-wrapper {
    display: flex;
    width: unset;
  }

  .additional-catalog__list {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-bottom: 59px;
  }

  .additional-catalog__item {
    padding-top: 26px;
    padding-bottom: 28px;
    flex-direction: column;
    justify-content: space-between;
  }

  .additional-catalog-information-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-catalog__product-name {
    font-size: 20px;
    margin: 0;
  }

  .additional-catalog__ammount,
  .additional-catalog__price {
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .additional-catalog__price {
    margin-left: 58px;
  }

  .additional-catalog__button {
    margin-top: 26px;
    padding: 10px 0;
  }
}

@media (min-width: @desktop-width) {
  .additional-catalog__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 70px;
    width: 1220px;
    margin: 0 auto;
  }

  .additional-catalog-information-wrapper {
    width: 612px;
  }

  .additional-catalog__container-wrapper {
    display: grid;
    grid-template-columns: 244px 44px;
  }

  .additional-catalog__price {
    margin-left: 0;
  }

  .additional-catalog__header {
    padding-top: 80px;
    padding-bottom: 81px;
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px;
    margin: 0 auto;
  }

  .additional-catalog__list {
    padding: 0;
    border: none;
    margin-bottom: 0;
    width: 896px;
  }

  .additional-catalog__item {
    padding-top: 10px;
    padding-bottom: 21px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #cdcdcd;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .additional-catalog__button {
    margin-top: 0;
    min-width: 244px;
  }
}
