.animal-description__label {
  padding-left: 45px;
  position: relative;
}

.animal-description__control-mark::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.animal-description__control-input:checked ~ .animal-description__label .animal-description__control-mark::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.animal-description {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 39px;
  padding-bottom: 0;
}

.animal-description .animal-description__group:first-child {
  margin-bottom: 27px;

  .animal-description__list .animal-description__item:not(:last-child) {
    margin-bottom: 13px;
  }
}

.animal-description .animal-description__group:nth-child(2) {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 22px 0;

  .animal-description__list .animal-description__item:not(:last-child) {
    margin-bottom: 19px;
  }
}

@media (min-width: @tablet-width) {
  .animal-description {
    padding-top: 66px;
    padding-bottom: 71px;
  }

  .animal-description .animal-description__group:first-child {
    margin-bottom: 72px;

    .animal-description__list .animal-description__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .animal-description .animal-description__group:nth-child(2) {
    border: 1px solid #e7e7e7;
    padding: 25px 27px;
  }
}

@media (min-width: @desktop-width) {
  .animal-description {
    padding-top: 66px;
    padding-bottom: 69px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .animal-description .animal-description__group:first-child {
    margin-bottom: 0;
  }

  .animal-description .animal-description__group:nth-child(2) {
    padding: 30px 28px;
  }
}
