@client-example-bg-color: #EAEAEA;

.client-example__wrapper {
  width: auto;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: @client-example-bg-color;
}

.client-example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  h3 {
    margin: 0;
  }
}

.client-example__description {
  margin-top: 0;
  margin-bottom: 20px;
}

.client-example__numbers__summary {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.client-example__numbers__data {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.client-example__numbers__name {
  line-height: 100%;
  text-align: center;
}

.client-example__button {
  border: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
