.client-example__wrapper {
  width: auto;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: @client-example-bg-color;
  display: flex;
  flex-direction: column;
}

.client-example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  h3 {
    margin: 0;
  }
}

.client-example__description {
  margin-top: 0;
  margin-bottom: 20px;
  width: auto;
}

.client-example__numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-example__numbers-summary {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  order: 2;
  margin-top: 20px;
}

.client-example__numbers-data {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.client-example__numbers-name {
  line-height: 100%;
  text-align: center;
}

.client-example__button {
  border: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .client-example__wrapper {
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 56px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(234, 234, 234, 1) 50%);
  }

  .client-example__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .client-example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .client-example__history {
    margin-bottom: 576px;
  }

  .client-example__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .client-example__numbers-summary {
    width: 174px;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    order: 2;
  }

  .client-example__numbers-data {
    font-size: 30px;
    line-height: 37px;
  }

  .client-example__navigation {
    display: flex;
    justify-content: space-between;
  }

  .client-example__button {
    font-size: 20px;
    line-height: 29px;
  }
}

@media (min-width: @desktop-width) {
  .client-example__wrapper {
    padding-top: 69px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 65px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 25%, rgba(234, 234, 234, 1) 25%);
  }

  .client-example__header {
    margin-bottom: 146px;
  }

  .client-example__container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .client-example__description {
    margin-bottom: 84px;
  }

  .client-example__history {
    margin-bottom: 0;
    width: 436px;
  }

  .client-example__numbers {
    display: flex;
    flex-direction: column;
  }

  .client-example__numbers-summary {
    width: 327px;
    margin-top: 55px;
    text-align: justify;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    order: 2;
  }

  .client-example__animation {
    width: 591px;
  }
}

