.comments {
  padding-top: 7px;
  padding-bottom: 0;
}

.comments__name {
  width: 121px;
}

@media (min-width: @tablet-width) {
  .comments {
    padding-top: 4px;
    padding-bottom: 27px;
  }

  .comments__name {
    width: 182px;
    background: linear-gradient(to right, transparent 13%, #ffffff 13%);
    padding-left: 70px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    padding-top: 0;
    padding-bottom: 29px;
  }

  .comments__name {
    padding-left: 110px;
    background: linear-gradient(to right, transparent 22%, #ffffff 22%);
  }
}
