.comments {
  padding-top: 37px;
  padding-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .comments {
    padding-top: 76px;
    padding-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    padding-top: 76px;
    padding-bottom: 67px;
  }
}
