.comments {
  padding-top: 37px;
  padding-bottom: 23px;
}

.comments__name {
  width: 121px;
}

@media (min-width: @tablet-width) {
  .comments {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  .comments__name {
    width: 182px;
    background: linear-gradient(to right, transparent 30%, #ffffff 30%);
  }
}

@media (min-width: @desktop-width) {
  .comments {
    padding-top: 0;
    padding-bottom: 67px;
  }
}
