.form__fill {
  display: flex;
  flex-direction: column;
}

.form__header {
  width: auto;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 37px;
  padding-left: 20px;
  padding-right: 41px;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400px;
  font-size: 36px;
  line-height: 100%;
  margin: 0;
}

.form__wrapper {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form__notion {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
}

.form__group-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__group-name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  position: relative;
}

.form__group-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  flex-shrink: 0;
}

.form__input-wrapper {
  flex-grow: 1;
  position: relative;
}

.form__input {
  width: 100%;
  flex-grow: 2;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 34px;

  &:focus-visible {
    border-color: #444444;
    outline: none;
  }

  &:focus-visible ~ .form__navigation-icon {
    fill: #68b738; //Очень странное окрашивание иконок, хотя я удалила fill  у  path
  }
}

.form__text-input {
  width: 100%;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }

  &:focus-visible {
    border-color: #444444;
    outline: none;
  }
}

.form__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  padding-top: 7px;
  padding-bottom: 7px;
}

@media (min-width: @tablet-width) {
  .form__header {
    padding-top: 65px;
    padding-bottom: 54px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .form__title {
    font-size: 60px;
  }

  .form__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 72px;
  }

  .form__notion {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  .form__group-name {
    font-size: 36px;
    line-height: 36px;
  }

  .form__group-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__text-input {
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__note {
    font-size: 16px;
    line-height: 16px;
  }

  .form__button {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__group-item:not(:last-child) {
    margin-bottom: 0;
  }

  .form__header {
    padding-top: 73px;
    padding-bottom: 56px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .form__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 82px;
  }
}
