.form__header {
  width: auto;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 37px;
  padding-left: 20px;
  padding-right: 41px;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400px;
  font-size: 36px;
  line-height: 100%;
  margin: 0;
}

.form__wrapper {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form__notion {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
}

.form__group-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__group {
  border: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form__group-name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0;
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}
