.go-to-form {
  display: flex;
  flex-direction: column;
}

.go-to-form__container {
  display: flex;
  flex-direction: column;
}

.go-to-form__wrapper {
  margin: 0;
  margin-bottom: 156px;
  padding-left: 36px;
  padding-right: 35px;
  padding-top: 27px;
  padding-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  background-image: url("../img/index-background-mobile.png");
  height: 274px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.png");
    background-size: cover;
  }
}

.go-to-form__busket-bg {
  width: 280px;
  height: 270px;
  margin-top: -288px;
  align-self: center;
}

.go-to-form__busket-img {
  display: block;
}

.go-to-form__header {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  color: @go-to-form-text-color;
}

.go-to-form__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @go-to-form-text-color;
  margin: 0;
}

.go-to-form__button {
  align-self: center;
  width: 280px;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .go-to-form {
    align-items: flex-start;
    padding-top: 38px;
    padding-bottom: 506px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .go-to-form__wrapper {
    background-image: none;
    padding: 0;
    margin: 0;
  }

  .go-to-form__busket-bg {
    z-index: -1;
  }

  .go-to-form__busket-img {
    position: absolute;
    top: 343px;
    left: 4%;
  }

  .go-to-form__header {
    color: #000000;
    font-size: 60px;
    line-height: 100%;
    width: 448px;
    text-align: left;
    margin-bottom: 36px;
  }

  .go-to-form__slogan {
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    text-align: left;
  }

  .go-to-form__button {
    align-self: flex-start;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 100%;
    width: 193px;
    margin-top: -30px;
  }
}

@media (min-width: @desktop-width) {
  .go-to-form__container {
    width: 1220px;
    margin: 0 auto;
  }

  .go-to-form {
    align-items: flex-start;
    padding-top: 232px;
    padding-bottom: 185px;
    padding-left: 190px;
    padding-right: 190px;
    margin-top: -147px;
    margin-bottom: 82px;
    background-image: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 50%;
    }
  }

  .go-to-form__busket-bg {
    z-index: 1;
  }

  .go-to-form__busket-img {
    position: absolute;
    top: 147px;
    left: 39%;
  }

  .go-to-form__button {
    align-self: flex-start;
    margin-top: -27px;
  }
}
