@footer-bg-color: #F2F2F2;

.page-footer__wrapper {
  margin: 0;
  width: auto;
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @footer-bg-color;
}
