.page-header {
  width: auto;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.page-header__logo-wrapper {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 11px;
}

.page-header__logo-wrapper:hover .page-header__logo .page-header__logo-text,
.page-header__logo-wrapper:hover .page-header__logo .page-header__logo-image {
  opacity: 0.5;
}

.page-header__logo-wrapper:active .page-header__logo .page-header__logo-text,
.page-header__logo-wrapper:active .page-header__logo .page-header__logo-image {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo-text {
    display: none;
  }

  .page-header__logo-image {
    width: 174px;
    height: 52px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo-wrapper {
    justify-content: start;
    padding: 24px 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 31px;
    width: 1220px;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 202px;
    height: 60px;
  }
}
