.present__wrapper {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/catalog-cat-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 61px;
  height: 289px;
  box-sizing: border-box;
}


.present__description {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .present__wrapper {
    padding-top: 71px;
    padding-bottom: 69px;
    padding-left: 442px;
    padding-right: 124px;
    height: 200px;
  }

  .present__description {
    width: 161px;
  }
}

@media (min-width: @desktop-width) {
  .present__wrapper {
    padding-top: 184px;
    padding-bottom: 42px;
    padding-left: 40px;
    padding-right: 43px;
    height: 100%;
    width: 245px;
  }
}
