.present {
  padding-top: 35px;
  padding-bottom: 35px;
}

.present__wrapper {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/catalog-cat-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 61px;
  height: 289px;
}


.present__description {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
