.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.site-list__item {
  display: block;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.site-list__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: @header-navigation-link-color;
  padding-bottom: 24px;
  padding-top: 22px;
  display: inline-block;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  &:focus-visible {
    color: rgba(0, 0, 0, 0.5);
    outline: none;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    border: none;

    &:last-child {
      border: none;
    }
  }

  .site-list__item--current {
    position: relative;
  }

  .site-list__item--current::after {
    content: "";
    background-color: #68b738;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 14px;
    left: 0;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 478px;
  }

  .site-list__item--current-cat-bg {
    position: relative;
  }

  .site-list__item--current-cat-bg::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 18px;
    width: 100%;
  }

  .site-list__link {
    font-size: 20px;
    line-height: 30px;
  }

  .site-list__link--cat-bg {
    color: @white;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus-visible {
      color: rgba(255, 255, 255, 0.5);
      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
