
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}

.html {
  height: 100%;
}

.page__body {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  background-color: @bg-color;
  font-family: "Arial", sans-serif;
  font-weight: @base-font-weight;
  font-size: @base-font-size;
  line-height: @base-line-height;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus-visible {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
